
    
    #email-input {
        margin-top: 150px;
    }
    
    .signin-input {
        display: block;
        margin: 20px auto;
        width: 400px;
    }
    .signin-btn {
        display: block;
        margin: auto;
        width: 90px;
        text-align: center;
    }