
<div class="table-container">
  
  <div class="buttons-list">
    <div class="btn add" (click)="newStockItem()">Add New Item</div>
    <div class="searchbar">
      <input type="text" name="sizeseearch" id="size-search">
      <img src="../../../../assets/icons/search_black_24dp.svg" alt="search Icon">
    </div>
  </div>


  <table>
    <tr>
      <th>Brand/Item Name</th>
      <th>Category</th>
      <th>Items</th>
      <th>Breakpoint</th>
      <th></th>
      <th></th>
    </tr>
    <tr  *ngFor="let data of stockTableData"  [class]="data.id" >
      <td id="checkbox"><input type="checkbox" [name]="data.id" [id]="data.id"></td>
      <td (click)="selectStock(data.id)">{{data.item}}</td>
      <td (click)="selectStock(data.id)">{{data.category}}</td>
      <td (click)="selectStock(data.id)">{{data.items}}</td>
      <td (click)="selectStock(data.id)">{{data.breakpoint}}</td>
      <td (click)="editStockItem(data)" class="editicon"></td>
      <td (click)="deleteStockItem(data)" class="deleteicon"></td>
    </tr>
  </table>
</div>
