<div class="container">

  <!-- Row 1 -->
  <div class="cards">
    <div routerLink="/stocksell" class="card linkbtn">
      <div class="card-only-value ">Sell</div>
    </div>
    <div class="card">
      <div class="card-only-value">Return</div>
    </div>
    <div class="card">
      <div class="card-only-value">Update</div>
    </div>
  </div>


  <div class="cards">
    <div class="card">
      <div class="card-only-value">Low Stock Items</div>
    </div>
    <div class="card">
      <div class="card-only-value">Order Book</div>
    </div>
    <div class="card">
      <div class="card-only-value">Random Check</div>
    </div>
  </div>
</div>