<div class="container">
    <div class="invoice-container">
        <h3 class="title">Return</h3>
        <div class="input-output">

            <!-- Input -->
            <div class="input">
                <form action="">
                    <label for="input-barcode">Barcode no.</label>
                    <input type="number" placeholder="Barcode no." class="input-barcode" id="input-barcode"> 
                    <label for="input-name">Brand/Item Name</label>
                    <input type="text" placeholder="Item Name" class="input-name" id="input-name">
                </form>
                <div class="btn margin-top-20px">Done</div>
            </div>

            <!-- output -->
            <div class="output">
                <div class="titles">
                    <p><span>Barcode -</span> 12112456</p>
                    <p><span>Name - </span>Item Name Bla Bla Bla Bla Bla Bla Bla Bla Bla</p>
                    <p><span>Price -</span> 220</p>
                </div>
            </div>
            

        </div>
    </div>

</div>