<div class="nav-container">
    <div routerLink="/home" class="logo linkbtn">SUHAG</div>
    <ul class="menu-container">
        <li routerLinkActive="active-menu-link" routerLink="/home" class="menu-item">Dashboard</li>
        <li routerLinkActive="active-menu-link" routerLink="/size"class="menu-item">Size list</li>
        <li routerLinkActive="active-menu-link" routerLink="/stock"class="menu-item">Stock</li>
        <li routerLinkActive="active-line-btn" routerLink="/signin"class="menu-item" class="line-btn">Sign in</li>
    </ul>
</div>