//Fonts
$main-font: 'Open Sans', sans-serif;


//Colors
$primary: #262729;
$secondary: #c5c3c6;
$third: #dcdcdd;
$white: whitesmoke;
$edit: #2F9C95;
$delete: rgb(73, 70, 69);
$cancel: tomato;
$ok: #2F9C95;