<div class="table-container">

  <div class="buttons-list">
    <div class="btn add">Add</div>
    <div class="searchbar">
      <input type="text" name="sizeseearch" id="size-search">
      <img src="../../../../assets/icons/search_black_24dp.svg" alt="search Icon">
    </div>
    
  </div>


  <table>
    <tr>
      <th>Name</th>
      <th>Phone number</th>
      <th>Brand</th>
      <th>Number</th>
      <th></th>
      <th></th>
    </tr>
    <tr *ngFor="let data of sizeData">
      <td>{{data.name}}</td>
      <td>{{data.phone}}</td>
      <td>{{data.brand}}</td>
      <td>{{data.size}}</td>
      <td (click)="editSize()" class="edit">Edit</td>
      <td (click)="deleteSize(data)" class="delete">Delete</td>
    </tr>
  </table>
</div>